﻿@{
    var tag = Tag(Model, "ul");

    var selectedPath = Model.SelectedPath as string;
    if (selectedPath != null) {
        tag.MergeAttribute("data-selectedpath", selectedPath);
    }

    var items = (IList<dynamic>)Enumerable.Cast<dynamic>(Model.Items);

    if (items.Any())
    {
        items[0].Classes.Add("first");
        items[items.Count - 1].Classes.Add("last");
    }    

}
<nav>
    @tag.StartElement
    @* see MenuItem shape template *@
    @DisplayChildren(Model)
    @tag.EndElement
</nav>