﻿@{
    // odd formatting in this file is to cause more attractive results in the output.
    var items = Enumerable.Cast<dynamic>((System.Collections.IEnumerable)Model);

}
@{
    if (!HasText(Model.Text)){
        @DisplayChildren(Model)
    }
    else{
        if (Model.Selected){
            Model.Classes.Add("selected");
        }

        if (Model.Current){
            Model.Classes.Add("current");
        }

        if (items.Any()){
            Model.Classes.Add("dropdown");
        }

        var tag = Tag(Model, "li");

        @tag.StartElement
        
        @* morphing the shape to keep Model untouched*@
        Model.Metadata.Alternates.Clear(); 
        Model.Metadata.Type = "MenuItemLink";
        @Display(Model)

        if (items.Any()){
            if (Model.WrapChildrenInDiv != null && (bool)Model.WrapChildrenInDiv){
                <div>
                    <ul>
                        @DisplayChildren(Model)
                    </ul>
                </div>
            }
            else{
                <ul>
                    @DisplayChildren(Model)
                </ul>
            }
        }

        @tag.EndElement
    }

}