﻿@model Onestop.Navigation.Models.ImageMenuItemPart
@{
    Style.Require("MenuAdmin");
    Script.Require("MenuAdminScripts");
    Script.Require("jQuery");
    Script.Require("jQueryUI_Sortable").AtFoot();
    Style.Include("media-library-picker-admin.css");

    Script.Require("jQueryColorBox");
    Style.Require("jQueryColorBox");
}

<fieldset>
    <legend>@T("Image settings")</legend>
    <div>
        @Html.LabelFor(m => m.Source, T("Image to display"))
        @Html.TextBoxFor(m => m.Source, new { @class = "textMedium", @readonly = "readonly" })
        <span id="btn-mediapicker" class="button">@T("Browse")</span>
        <span id="btn-clear" class="button">@T("Clear")</span>
        <span class="hint">
            @T("Choose the image that will be displayed inside this menu item.")
        </span>
    </div>
    <div>
        <div id="media-largepreview" class="image-preview" style="width: 300px; height: 300px; display: block;">
            @if (Model.Source != null) {
                @Html.Image(Url.Content(Model.Source),
                            Model.AlternateText,
                            new {
                                width = Model.Width,
                                height = Model.Height,
                                @class = Model.Class,
                                style = Model.Style,
                                id = "img-preview"
                            })
            }
            else {
                <img alt="@T("Preview of Image")" id="img-preview-empty" style="width: 300px; height: 300px; display:inline;" src="@Url.Content("~/modules/orchard.mediapicker/Styles/images/imagepreview.png")" />
            }
        </div>
    </div>
    @Html.HiddenFor(m => m.AlternateText)
    @Html.HiddenFor(m => m.Class)
    @Html.HiddenFor(m => m.Style)
    @Html.HiddenFor(m => m.Alignment)
    @Html.HiddenFor(m => m.Width)
    @Html.HiddenFor(m => m.Height)
</fieldset>

@using (Script.Foot()) {
    <script type="text/javascript">
        //<![CDATA[
        $('#btn-mediapicker').click(function () {
            var pickerurl = '@HttpUtility.JavaScriptStringEncode(Url.Action("Index", "Admin", new {area = "Orchard.MediaLibrary", dialog = true}))';
            $.colorbox({
                href: pickerurl,
                iframe: true,
                reposition: true,
                width: "100%",
                height: "100%",
                onLoad: function () { // hide the scrollbars from the main window
                    $('html, body').css('overflow', 'hidden');
                    $('#cboxClose').remove();
                },
                onClosed: function () {
                    $('html, body').css('overflow', '');
                    var selectedData = $.colorbox.selectedData;
                    if (selectedData == null || selectedData.length == 0) return;
                    var selectedImage = selectedData[0],
                        applicationPath = '@Url.RequestContext.HttpContext.Request.ApplicationPath.ToLower()';
                    if (!/\/$/.test(applicationPath)) {
                        applicationPath += '/';
                    }
                    var url = selectedImage.resource;
                    if (url.substr(0, 4) != "http") {
                        url = '~/' + url.substr(applicationPath.length);
                    }
                    $('#@Html.FieldIdFor(m => m.Source)').val(url).change();
                    $('#@Html.FieldIdFor(m => m.AlternateText)').val(selectedImage.alternateText).change();
                    $('#media-largepreview')
                        .empty()
                        .append($("<img id=\"img-preview\"/>")
                            .attr("src", selectedImage.resource));
                }
            });
        });

        $('#btn-clear').click(function () {
            $("#@Html.FieldIdFor(m => m.Source)").val('').change();
            $('#media-largepreview').html("<img alt=\"@T("Preview of Image")\" id=\"img-preview-empty\" style=\"width: 300px; height: 300px; display:inline;\" src=\"@Url.Content("~/modules/orchard.mediapicker/Styles/images/imagepreview.png")\" />");
        });
        //]]>
    </script>
}
